@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.landing-page {
  max-width: 86%;
  margin: 20px auto;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  /* padding: 30px; */
}

h1 {
  font-size: 2rem;
}
h1 span {
  font-weight: 300;
}
.search-bar {
  padding: 2px;
  display: flex;
  align-items: center;
}
.search-bar input {
  width: 140px;
  height: 20px;
  border: 2px black solid;
  padding: 2px;
}
.search-bar img {
  background: rgb(12, 12, 68);
  color: white;
  padding: 5px;
  width: 20px;
  height: 20px;

  border-radius: 0px 2px 2px 0;
}


img {
  width: 80px;
  height: 80px;
  box-shadow: var(--box-shadow);
  border-radius: 2px;
}

h2 {
  max-width: 30px;
  font-weight: 300;
  color: white;
  position: relative;
  left: 9px;
  bottom: 35px;

  font-size: 0.9rem;
}
