.used-computer-list {
  max-width: 86%;
  margin: 20px auto;
}
.product-list {
  min-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.filter {
  display: none;
}
.icons {
  text-align: end;
}
.list-icons {
  margin-left: 100px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.list-icons img {
  width: 40px;
  height: 40px;
  text-align: center;
}

/* ==================================================desktop================================ */
@media screen and (min-width: 1000px) {
  .used-computer-list {
    display: flex;
    justify-content: space-between;
    max-width: 86%;
  }
  .filter {
    display: block;
  }
  .filtertitle {
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 300;
  }

  .filters {
    min-width: 250px;
    height: 400px;
    box-shadow: var(--box-shadow);
  }

  .product-list {
    margin-left: 10px;
    /* min-width: 300px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
  }

  .card-wrapper {
    margin-top: 20px;
  }
  .icons {
    text-align: end;
  }
  .list-icons{
    display: none;
  }
}
