* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.landing-page {
  max-width: 86%;
  margin: 20px auto;
}
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
h1 {
  font-family: "Nunito", sans-serif;
}
h1 span {
  font-weight: 300;
}
.search-bar {
  padding: 2px;
  position: absolute;
  right: 50px;
}
.search-bar input {
  border: 2px black solid;
  padding: 5px;
}
.search-bar ion-icon {
  background: rgb(12, 12, 68);
  color: white;
  padding: 7px;
  position: relative;
  top: 10px;
  right: 5px;
}

nav {
  position: relative;
}

a {
  list-style: none;
  text-decoration: none;
}
img {
  width: 250px;
  height: 80px;
}

h2 {
  font-weight: 100;
  color: white;
  position: relative;
  left: 10px;
  bottom: 22px;

  font-size: 0.8rem;
}

.used-computer-card {
  position: relative;
  width: 250px;
  min-height: 200px;
}

.section-title {
  font-family: "nunito";
  font-size: 1rem;
  font-weight: 700;
}

.icons {
  position: relative;
  left: 82%;
}
ion-icon {
  /* border: 1px solid black; */
  box-shadow: 1px 1px 3px gray;
  width: 20px;
  height: 15px;
  border-radius: 1px;
}

.Card {
  min-width: 250px;
  min-height: 280px;
  box-shadow: 1px 1px 5px gray;
  border: 1px solid gray;
  border-radius: 4px;
}

.CardImg img {
  height: 150px;
  padding: 10px;
  border-radius: 13px;
}

.title {
  padding-left: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "nunito";
}
.price {
  padding-left: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "nunito";
  margin-bottom: 5px;
}
.offer {
  padding-left: 10px;
  font-size: 0.8rem;
  font-weight: 300;
  font-family: "nunito";
}

.mrp {
  position: absolute;
  left: 55%;
  bottom: 28%;
  font-size: 0.7rem;
  text-decoration: line-through;
}
.saves {
  position: absolute;
  left: 55%;
  bottom: 25%;
  font-size: 0.4rem;
}

.CardButtons {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}

.CardButtons button {
  width: 100px;
  height: 30px;
}

.addcart {
  background-color: white;
  border: 1px solid;
}
.addcart:hover {
  background-color: rgba(128, 128, 128, 0.128);
}
.buynow:hover {
  background-color: rgba(128, 128, 128, 0.9);
}

.buynow {
  background: rgb(12, 12, 68);
  border: 1px solid;
}

.buynow a {
  color: white;
  font-family: "nunito";
}
.addcart a {
  color: black;
  font-family: "nunito";
}
